.cover-container
  .masterhead.clearfix
    .inner
      %nav
  .inner.cover
    %h1.cover-heading Welcome to RaspGram.
    .logo
      %img{src: image_url("house_home.png"), alt:"Raspgram" }
    %p.lead Providing simple home automation via Telegram.