<%- model_class = User -%>
<div class="page-title">
	<div class="title_left">
		<h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
	</div>
</div>
<div class="clearfix"></div>

<%= render :partial => 'form' %>
