<%- model_class = RefuseAddress -%>
<div class="page-title">
	<div class="title_left">
		<h3><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}") %></h3>
	</div>
</div>
<div class="clearfix"></div>
<%= render :partial => 'form' %>
